
/*下接菜单*/
#nav ul li{ list-style-type:none; text-transform:capitalize;}
#nav .mainlevel {float:left; /*IE6 only*/}
#nav .mainlevel a { text-decoration:none; line-height:40px; display:block; font-family: "宋体";font-size: 14px;font-weight: bold;color: #FFFFFF; text-align:center}
#nav .mainlevel a:hover { color: #FF5F01; text-decoration:none;  }

#nav .mainlevel ul {width:104px;display:none; position:absolute; list-style-type:none;}
#nav .mainlevel li {border-top:1px solid #fff; background:#999999; width:104px; /*IE6 only*/ height:40px;  text-align:center;}
#nav .mainlevel li{float:left;}
#nav .mainlevel li a{ color:#ffffff; height:50px; font-family: "宋体"; font-size:12px; }
#nav .mainlevel li a:hover{ font:12px; height:35px; color:#ffffff;  font-weight:100;}

/*手机登录*/
.sj_dl{ width:410px; height:620px; margin:auto; margin-top:50px; border:1px solid; color:#CCCCCC; background-color:#FFFFFF;}
.sj_dl_a{ margin:auto; margin-top:30px;}

.sj_dl_a ul{list-style:none;  margin:0; padding:0;}
.sj_dl_a li{list-style:none; float:left; display:inline-block; width:410px; }
.sj_dl_aa{font-size:14px; height:22px; line-height:22px; width:180px; text-align:right; color:#999999; padding-right:10px; float:left;}
.sj_dl_ab{width:150px; height:22px; border:#E0E0E0 solid 1px; background-color:#ffffff;float:left;}
.sj_dl_ac{ padding-left:10px; line-height:22px;font-size:14px; color:#FF0000; font-weight:bold; }
.sj_dl_ad{ height:30px; padding-bottom:10px;}
.sj_dl_ae{ font-size:14px; height:22px; line-height:22px; width:180px; text-align:right; color:#999999;}
.sj_dl_af{width:42px; height:22px; border:#E0E0E0 solid 1px; background-color:#ffffff; margin-right:5px;float:left; }
.sj_dl_ag{font-size:14px; height:22px; line-height:22px; color:#999999;}
.sj_dl_ah{ width:400px; height:30px; font-size:14px; height:22px; line-height:22px; text-align:center; color:#999999; padding-top:10px; float:left;}
.sj_qd_a{ width:400px; float:left;}
.sj_qd{ width:56px; height:26px; background-color:#FF6600;margin:auto;}
.sj_text{ font-size:14px; color:#FFFFFF; line-height:26px; text-align:center;}


/*智慧产业*/
.zhcy{width:1029px; background-color:#FFFFFF; padding-bottom:30px; }
.zhcy_a{ width:1000px; height:50px; border-bottom: #E2DFDF solid 1px; margin:auto;}
.zhcy_b{ width:200px; line-height:50px; font-size:14px; color:#FF6600; font-weight:bold; float:left; }
.zhcy_c{ width:50px; line-height:50px; font-size:12px; color:#767575; float:right; }

.sou_a{ width:400px; height:30px; border:#FF6600 solid 1px; background-color:#FFFFFF; margin:25px; float:left; }
.sou_b{ width:60px; background-color:#F5F5F5; font-size:14px; color:#605E5E; line-height:30px; text-align:center; float:left;}
.sou_b a{ color:#605E5E; text-decoration:none;}
.sou_b a:hover{ color:#605E5E;}

.sou_d{ width:60px; background-color:#FF4400; font-size:14px; color:#ffffff; line-height:30px; text-align:center; float:left;}
.sou_d a{ color:#ffffff; text-decoration:none;}
.sou_d a:hover{ color:#ffffff;}

.sou_line{ width:260px; height:30px; border: none 0px; margin-left:20px; line-height:30px;float:left }

/*智慧产业列表*/
.cy_list{ width:960px; height:400px; margin:auto;}
.cy_list_a{ width:220px; height:370px; border:#EDEDED 1px solid; background-color:#FFFFFF; margin-left:15px; margin-top:15px; float:left; }
.cy_list_b{ width:220px; height:219px; margin:auto;}
.cy_list_c{ font-size:14px;color:#FF3300; line-height:30px; padding-left:10px;}
.cy_list_d{ font-size:12px;color:#888888; line-height:30px;  padding-left:60px;}
.cy_list_e{ font-size:12px;color:#222121; line-height:25px; padding-left:10px;}
.cy_list_e a{font-size:12px;color:#222121; text-decoration:none;}
.cy_list_e a:hover{color:#FF4400}

.cy_list_f{ font-size:12px;color:#888888; line-height:25px; padding-left:10px;}
.cy_list_f a{font-size:12px;color:#222121; text-decoration:none;}
.cy_list_f a:hover{color:#FF4400}

.cy_list_g{ font-size:12px;color:#FF4E00; line-height:25px; padding-left:10px; border:#FFD580 1px solid; background-color:#FFFFFF; width:80px; margin-left:10px; margin-top:5px; float:left;}
.cy_list_h{  width:50px; line-height:30; text-align:center;margin-left:10px; margin-top:5px; padding-top:10px; padding-left:50px;  float:left;}


/*智慧产业详细页*/
.cy_xx{ width:970px; height:450px; margin:auto;}
.cy_xx_z{ width:440px; height:420px; float:left;}
.cy_xx_za{ width:412px; height:420px; }

.cy_xx_r{ width:530px; height:400px; float:left;}
.cy_xx_ra{ font-size:15px; color:#767575; font-weight:bold; line-height:30px; }
.cy_xx_rb{ font-size:12px; color:#767575; line-height:22px; }
.cy_xx_rc{ font-size:14px; color:#767575; line-height:30px; padding-left:10px;background-color:#F5F5F5;}
.cy_xx_rd{ font-size:12px; color:#B5621B; line-height:30px; padding-left:20px;background-color:#F5F5F5; }
.cy_xx_re{ font-size:20px; color:#C40000; line-height:30px; padding-left:10px;background-color:#F5F5F5; }
.cy_xx_rf{ font-size:16px; color:#767575; line-height:30px; padding-left:20px;background-color:#F5F5F5; }
.cy_xx_rg{ font-size:14px; color:#767575; line-height:30px; padding-left:10px; border-bottom:#EFEFEF 1px solid; }
.cy_xx_rj{ font-size:12px; color:#767575; line-height:30px; padding-left:10px; }

.gm{ width:160px; line-height:35px; border:#C40000 1px solid; background-color:#FFEDED; font-size:16px; text-align:center; color:#C40000; margin-top:10px; margin-left:40px; float:left;}
.gm a{font-size:16px; color:#C40000;text-decoration:none;}
.gm a:hover{font-size:16px; color:#C40000;text-decoration:none;}

.gwc{ width:160px; line-height:35px;border:#C40000 1px solid; background-color:#C40000; font-size:16px; text-align:center; color:#ffffff;margin-top:10px; margin-left:40px; float:left;}
.gwc a{font-size:16px; color:#ffffff; text-decoration:none; display:block; }
.gwc a:hover{font-size:16px; color:#ffffff;text-decoration:none; background-color:#FF3300; }

.cy_xxa{ width:970px;  border:#E6E6E6 1px solid; background-color:#FFFFFF; margin:auto;}

.cy_xxa_a{ width:970px; height:40px; background-color:#EFEFEF; }
.cy_xxa_a ul{list-style:none;  margin:0; padding: 0;}
.cy_xxa_a li{list-style:none; float:left; display:inline-block; overflow:hidden;}
.cy_xxa_a li a{display:block; text-decoration:none; cursor:pointer; width:104px; height:40px; font-size:14px; color:#666666;  line-height:40px; text-align:center; }
.cy_xxa_a li a:hover{text-decoration:none; background-color:#CC0000; font-size:14px; color:#FFFFFF; cursor:pointer; }

.cy_xxa_b{ width:950px; height:40px; border-bottom:#DEDEDE 1px dashed; padding-left:20px; margin:auto;}
.cy_xxa_b a{ font-size:14px; color:#767575; text-decoration:none; }
.cy_xxa_b a:hover{color:#FF6600; text-decoration:none;}
.cy_xxa_c{ padding-left:200px; line-height:40px; font-size:14px; color:#8F8F8F; }


/*智慧就业详细*/
.zhjy_a{ width:802px; line-height:50px; border-bottom:#E3E3E3 1px solid;float:left; }
.zhjy_b{font-size:14px; color:#FF3300; font-weight:bold; padding-left:20px; float:left;}
.zhjy_c{font-size:12px; color:#767575; float:right; padding-right:20px;}
.zhjy_c a{font-size:12px; color:#767575;text-decoration:none;}
.zhjy_c a:hover{color:#767575; text-decoration:none;}
.zhjy_d{font-size:16px; color:#767575; border-bottom:#E3E3E3 1px solid; line-height:50px; text-align:center;}
.zhjy_e{font-size:12px; color:#767575; line-height:40px; text-align:center;}
.zhjy_f{font-size:12px; color:#767575; line-height:30px; padding-left:30px; padding-bottom:30px;}


/*智慧就业列表*/
.zhjy_list{ width:802px; padding-bottom:20px; background-color:#FFFFFF; float:left;}

.zhjy_list_a{ width:760px; height:50px; border-bottom:#E4E4E4 1px solid; margin:auto;}
.zhjy_list_b{ font-size:14px; color:#FF7E00; font-weight:bold; line-height:50px; float:left;}
.zhjy_list_c{line-height:50px; float:right; }
.zhjy_list_c a{font-size:12px; color:#999999; text-decoration:none;}
.zhjy_list_c a:hover{  color:#FF7E00; text-decoration:none;}

.zhjy_sou{ width:760px; height:180px; border:#EEEEEE 1px solid; background-color:#FFFFFF; margin:auto; margin-top:15px; }
.zhjy_sou_a{ width:720px; height:50px; border-bottom:#EEEEEE 1px solid; margin:auto; }
.zhjy_sou_a ul{list-style:none;  margin:0; padding: 0;}
.zhjy_sou_a li{ width:100px;list-style:none; float:left; display:inline-block;  line-height:40px; border-left:#EBEBEB 1px solid;border-top:#EBEBEB 1px solid;border-right:#EBEBEB 1px solid; text-align:center; margin-top:10px; margin-right:10px;}
.zhjy_sou_a li a{ font-size:14px; color:#FF7E00; text-decoration:none; font-weight:bold;}
.zhjy_sou_a li a:hover{ width:100px; display:inline-block;background-color:#62AF00; color:#FFFFFF;}
.zhjy_sou_a li a.current{ width:100px; display:inline-block;background-color:#62AF00; color:#FFFFFF;}
.zhjy_sou_b{ padding-left:10px; width:300px; height:30px; border:#F0F0F0 1px solid; background-color:#FFFFFF; line-height:30px; margin-top:10px; margin-left:20px; font-size:12px; color:#B4B3B3; float:left;}
.zhjy_sou_d{ width:720px; height:50px; float:left;}
.zhjy_sou_c{ width:60px; height:32px; display:inline-block;background-color:#339900; font-size:14px; color:#FFFFFF; line-height:32px; text-align:center; margin-top:10px;float:left;}
.zhjy_sou_c a{ color:#FFFFFF; text-decoration:none; }
.zhjy_sou_c a:hover{width:60px; height:32px; background-color:#FF6600;text-decoration:none;display:inline-block;}

.zhjy_sou_e{ width:720px;  float:left; font-size:14px; color:#666666; padding-left:30px; line-height:30px;}
.zhjy_sou_f{font-size:12px; color:#6D6C6C; padding-left:10px; line-height:30px;}

.zhjy_sou_g{ width:720px; height:40px;float:left;  }
.zhjy_sou_ga{font-size:14px; color:#6D6C6C; line-height:30px;  text-align:center; padding-left:30px;float:left; }
.zhjy_sou_gb{margin-top:5px; width:100px;height:30px; float:left; }

.zw{ width:760px; height:50px; border-bottom:#7AAF23 1px solid; margin:auto;}
.zw ul{list-style:none;  margin:0; padding: 0;}
.zw ul li{ width:100px; display:inline-block; list-style:none; line-height:40px; border-left:#EBEBEB 1px solid;border-top:#EBEBEB 1px solid;border-right:#EBEBEB 1px solid; text-align:center; margin-top:9px; margin-right:10px; float:left;}
.zw ul li a{font-size:14px; color:#FF7E00; text-decoration:none; font-weight:bold;}
.zw ul li a:hover{width:100px; display:inline-block;background-color:#62AF00; color:#FFFFFF;}
.zw ul li a.current{ width:100px; display:inline-block;background-color:#62AF00; color:#FFFFFF;}

.zw_a{ width:760px; height:40px; border-bottom:#EAEAEA 1px solid;background-color:#F5F5F5;margin:auto; margin-top:10px;}
.zw_a ul{list-style:none;  margin:0; padding: 0;}
.zw_a ul li{ width:190px; display:inline-block; list-style:none; line-height:40px; font-size:14px;color:#FF7E00; font-weight:bold; text-align:center; float:left;}
.zw_a ul li a{ font-size:14px;  text-decoration:none; font-weight:bold;}
.zw_a ul li a:hover{ width:100px; display:inline-block; color:#999999;}

.zw_b { width:760px; height:40px; border-bottom:#EFEFEF 1px solid; margin:auto; margin-top:10px;}
.zw_b ul{list-style:none; margin:0; padding: 0;float:left;}
.zw_b ul li{width:180px; display:inline-block; list-style:none; line-height:40px; font-size:14px;color:#6D6C6C; text-align:center; float:left;}
.zw_b ul li a{ font-size:14px;color:#6D6C6C;  text-decoration:none; }
.zw_b ul li a:hover{ width:180px; display:inline-block; color:#FF7E00;}
.zw_c{ width:30px; padding-top:15px; padding-left:10px; float:left;}

/*在线评论*/
.cy_plbt{ width:970px; height:40px; border-bottom:#E6E6E6 1px solid; font-size:14px; color:#FF6600; font-weight:bold; line-height:40px;margin:auto; margin-top:20px; }
.cy_pl{ width:970px; height:100px; border:#E6E6E6 1px solid; margin:auto; margin-top:20px; margin-bottom:10px;}
.cy_pl_a{font-size:12px; color:#A7A7A7; padding-left:20px; padding-top:20px;}
.cy_pl_b{ width:80px; height:40px; background-color:#FF6600; line-height:40px; font-size:14px; color:#FFFFFF; text-align:center; margin:auto;}
.cy_pl_b a{ background-color:#00CC00;}
.cy_pl_c{width:970px; height:40px; border-bottom:#E6E6E6 1px solid; font-size:14px; color:#FF6600; font-weight:bold; line-height:40px;margin:auto; margin-top:20px; }
.cy_pl_d{width:970px; height:150px; border: #E4E4E4 solid 1px; margin:0 auto; margin-top:10px; margin-bottom:10px;}
.cy_pl_e{width:850px; padding:25px 0px 0px 15px; float:left;}
.cy_pl_f{font-size:12px; color:#666666;padding:5px;}

.cy_pl_j{ width:80px; padding:10px; float:left;}
.cy_pl_g{ font-size:12px; color:#666666; text-align:center;}
.cy_pl_l{text-align:center;padding:5px; }
